In [ ]:
#Downloading and formatting the dataset

from statsmodels.regression.rolling import RollingOLS
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf
import pandas_ta
import warnings
warnings.filterwarnings('ignore')

sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
sp500['Symbol'] = sp500['Symbol'].str.replace('.', '-')
symbols_list = sp500['Symbol'].unique().tolist()

end_date = dt.datetime.now()
start_date = pd.to_datetime(end_date) - pd.DateOffset(365*8)

df = yf.download(tickers = symbols_list, start = start_date, end = end_date)
df = df.stack()
df.index.names = ['date', 'ticker']
df.columns = df.columns.str.lower()

[*********************100%***********************]  503 of 503 completed

In [5]:
#Computing the technical indicators

df['garman_klass_vol'] = ((np.log(df['high']) - np.log(df['low'])) ** 2) / 2 - (2 * np.log(2) - 1) * ((np.log(df['adj close']) - np.log(df['open'])) ** 2)
df['rsi'] = df.groupby(level = 1)['adj close'].transform(lambda x: pandas_ta.rsi(close = x, length = 20))
df.xs('AAPL', level = 1)

Price,adj close,close,high,low,open,volume,garman_klass_vol,rsi
date,,,,,,,,
2016-11-04 00:00:00+00:00,25.227209,27.209999,27.562500,27.027500,27.132500,123348000.0,-0.001856,NaN
2016-11-07 00:00:00+00:00,25.591114,27.602501,27.627501,27.365000,27.520000,130240000.0,-0.001994,NaN
2016-11-08 00:00:00+00:00,25.741768,27.764999,27.930000,27.424999,27.577499,97016800.0,-0.001667,NaN
2016-11-09 00:00:00+00:00,25.700054,27.719999,27.830000,27.012501,27.469999,236705600.0,-0.001269,NaN
2016-11-10 00:00:00+00:00,24.983847,26.947500,27.772499,26.457500,27.772499,228538000.0,-0.003149,NaN
...,...,...,...,...,...,...,...,...
2024-10-28 00:00:00+00:00,233.399994,233.399994,234.729996,232.550003,233.320007,36087100.0,0.000043,56.376010
2024-10-29 00:00:00+00:00,233.669998,233.669998,234.330002,232.320007,233.100006,35417200.0,0.000035,56.659957
2024-10-30 00:00:00+00:00,230.100006,230.100006,233.470001,229.550003,232.610001,47070900.0,0.000098,51.953447
2024-10-31 00:00:00+00:00,225.910004,225.910004,229.830002,225.369995,229.339996,64370100.0,0.000104,47.118037
2024-11-01 00:00:00+00:00,222.910004,222.910004,225.350006,220.270004,220.970001,65242200.0,0.000230,44.029545